<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    A full list of settings and comments can be found in web.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<system.net>
    	<defaultProxy>
        	<!--proxy usesystemdefault = "false" proxyaddress="http://address" bypassonlocal="true"/-->
	        <proxy usesystemdefault="true" />
         </defaultProxy>
	</system.net>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".grxml" mimeType="application/srgs+xml" />
        </staticContent>
        <handlers accessPolicy="Read, Execute, Script" />
    </system.webServer>
 </configuration>